.botones{
    margin: auto;
}

.redondo {
    border: none;
    border-radius: 50px;
    background-color: #00aaff;
    color: white;
    height: 80px;
    width: 80px;
    font-size: 40px;
    /* text-align: center; */
    margin: 50px;
}

.redondo:active {
    background-color: lightgreen;
}

.redondo:hover {
    color: black;
}

.rectangular {
    border: none;
    border-radius: 3px;
    width: 160px;
    height: 50px;
    font-size: 25px;
    background-color: #00aaff;
    color: white;
    margin: 50px;
}

.rectangular:active {
    background-color: lightgreen;
}

.rectangular:hover {
    color: black;
}

.transparente {
    width: 160px;
    height: 50px;
    font-size: 25px;
    color: #00aaff;
    margin: 50px;
    background: none;
    border: none;
}

.transparente:active {
    background-color: lightgreen;
}

.transparente:hover {
    color: black;
}

.libre {
        border: black dotted 2.5px;
        border-radius: 50px;
        background-color: #ff0000;
        color: white;
        height: 80px;
        width: 80px;
        font-size: 20px;
        margin: 50px;
}

.libre:hover {
    background: orange;
    transition: 0.3s;
  }

  .libre:active {
      opacity: 0;
  }